.form{
    display: flex;
    align-items:baseline;
}
#listing {
    width: calc(100% + 30px);
}
label[for=listing] + p{
    position: relative;
    display: table;
    border-radius:5px;
    padding-right: 30px;
}
label[for=listing] + p::after{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    border-radius: 0 5px 5px 0;
    pointer-events: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='30'><polyline points='8,12,15,8,22,12' fill='none' style='stroke:white;stroke-width:2'/><polyline points='8,18,15,22,22,18' fill='none' style='stroke:white;stroke-width:2'/></svg>"),
    linear-gradient(to bottom, #08558c 0%, #0a5083 100%);;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
input[type=file]::file-selector-button{
    background-color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
#name {
    margin-right: 158px;
    
}
fieldset {
    width:50%; 
    border: 1 solid black; 
    margin: auto;
     text-align: left;
}


input {
    height: 18px;
}

